<div style="display: flex; flex-wrap: wrap;"
     data-bind="foreach: { data: DungeonRunner.dungeon.allEncounterGrid.filter(i => i.pokemonName && !i.hide && !i.shadowTrainer), as: 'encounter' }">
     <!-- ko with: PokemonHelper.getPokemonByName(encounter.pokemonName), as: 'pkmn' -->
    <div style="position: relative; width: 12.5%; min-width: 71px; border: 1px black solid;"
         data-bind="style: { background: PokedexHelper.getBackgroundColors(pkmn.name) };">
        <img style="width: 100%; height: 100%; filter: drop-shadow(-1px -1px rgba(231, 255, 13, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
            data-bind="
                attr: { src: encounter.image },
                css: {
                    'pokemon-not-seen': !PokedexHelper.pokemonSeen(pkmn.id)(),
                    'pokemon-seen-but-not-caught': encounter.uncaught && PokedexHelper.pokemonSeen(pkmn.id)()
                }"/>
        <!-- ko if: PokedexHelper.pokemonSeen(pkmn.id) -->
        <a class="overlay" href="#pokemonStatisticsModal" data-toggle="modal" data-bind="
            click: (_, event) => {
                App.game.statistics.selectedPokemonID(pkmn.id);
            }"></a>
        <!-- /ko -->
        <div style="position:absolute; width: 20px; height: 20px; top: 0px; right: 2px;">
            <!-- ko if: !encounter.uncaught && App.game.party.getPokemon(pkmn.id).heldItem() -->
            <img style="position: relative; top: 0; right: 0; width: 20px; height: 20px; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
                data-bind="attr: { src: `${App.game.party.getPokemon(pkmn.id).heldItem().image}` }"/>
            <!-- /ko -->
        </div>
        <div style="position:absolute; width: 40px; height: 14px; bottom: 3px;"
            data-bind="
                with: App.game.party.getPokemon(pkmn.id),
                style: {
                    left: encounter.isBoss || encounter.mimic ? '3px' : '50%',
                    transform: encounter.isBoss || encounter.mimic ? 'none' : 'translate(-50%)'
                },
                tooltip: {
                    title: App.game.party.getPokemon($data.id)?.pokerus >= GameConstants.Pokerus.Contagious ? `EVs: ${App.game.party.getPokemon($data.id)?.evs().toLocaleString('en-US')}` : '',
                    placement: 'bottom',
                    trigger: 'hover'
                }">
            <!-- ko if: $data.pokerus >= GameConstants.Pokerus.Resistant -->
            <img style="position:absolute; top: 0; left: 0; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
                src="assets/images/breeding/pokerus/Resistant.png" />
            <!-- /ko -->
            <!-- ko if: $data.pokerus == GameConstants.Pokerus.Contagious -->
            <img style="position:absolute; top: 0; left: 0; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
                src="assets/images/breeding/pokerus/Contagious.png" />
            <img style="position:absolute; top: 0; left: 0; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
                data-bind="style: { clipPath: `inset(0 0 0 ${$data.evs() * 2}%)` }"
                src="assets/images/breeding/pokerus/Infected.png"/>
            <!-- /ko -->
        </div>
        <!-- ko if: encounter.isBoss -->
        <img class="boss"
            style="position: absolute; bottom: 3px; right: 3px; width: 16px; height: 16 px; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
            src="assets/images/dungeons/boss.svg"/>
        <img style="position: absolute; top: 2px; left: 2px; width: 16px; height: 16px;"
            data-bind="
                attr: { src: `assets/images/pokeball/${GameConstants.Pokeball[App.game.pokeballs.getPokeballForBasePokemon(pkmn.id, false, EncounterType.dungeonBoss)]}.svg` },
                tooltip: {
                    title: $data.name,
                    placement: 'top',
                    trigger:'hover'
                }"/>
        <!-- /ko -->
        <!-- ko if: encounter.mimic -->
        <img class="boss"
                style="position: absolute; bottom: 2px; right: 0px; width: 16px; height: auto; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.774));"
                data-bind="attr: { src: `assets/images/dungeons/chest-${encounter.mimicTier}.png` },
                tooltip: {
                title: GameConstants.camelCaseToString(encounter.mimicTier),
                trigger: 'hover'
                }"/>
        <img style="position: absolute; top: 2px; left: 2px; width: 16px; height: 16px;"
            data-bind="
                attr: { src: `assets/images/pokeball/${GameConstants.Pokeball[App.game.pokeballs.getPokeballForBasePokemon(pkmn.id, false, EncounterType.mimic)]}.svg` },
                tooltip: {
                    title: $data.name,
                    placement: 'top',
                    trigger:'hover'
                }"/>
        <!-- /ko -->
        <!-- ko ifnot: encounter.mimic || encounter.isBoss -->
        <img style="position: absolute; top: 2px; left: 2px; width: 16px; height: 16px;"
            data-bind="
                attr: { src: `assets/images/pokeball/${GameConstants.Pokeball[App.game.pokeballs.getPokeballForBasePokemon(pkmn.id, false, EncounterType.dungeon)]}.svg` },
                tooltip: {
                    title: $data.name,
                    placement: 'top',
                    trigger:'hover'
                }"/>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
