<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));"
    data-bind="foreach: { data: RouteHelper.sortPokemonListByPokerusStatus(RouteHelper.getAvailablePokemonList(player.route, player.region, true)), as: 'p' }">
    <!-- ko with: PokemonHelper.getPokemonByName(p) -->
    <div style="position: relative; border: 1px black solid;"
         data-bind="style: { background: PokedexHelper.getBackgroundColors($data.name) };">
        <img style="width: 100%; height: 100%; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
            data-bind="
                attr: { src: PokemonHelper.getImage($data.id, undefined, undefined, GameConstants.ShadowStatus.None) },
                css: {
                    'pokemon-not-seen': !PokedexHelper.pokemonSeen($data.id)(),
                    'pokemon-seen-but-not-caught': !App.game.party.alreadyCaughtPokemonByName($data.name) && PokedexHelper.pokemonSeen($data.id)()
                }"/>
        <!-- ko if: PokedexHelper.pokemonSeen($data.id) -->
        <a class="overlay" href="#pokemonStatisticsModal" data-toggle="modal" data-bind="
            click: (_, event) => {
                App.game.statistics.selectedPokemonID($data.id);
            }"></a>
        <!-- /ko -->
        <img style="position: absolute; top: 2px; left: 2px; width: 16px; height: 16px;"
            data-bind="
                attr: { src: `assets/images/pokeball/${GameConstants.Pokeball[App.game.pokeballs.getPokeballForBasePokemon($data.id, false, EncounterType.route)]}.svg` },
                tooltip: {
                    title: $data.name,
                    placement: 'top',
                    trigger:'hover'
                }"/>
        <div style="position:absolute; width: 20px; height: 20px; top: 0px; right: 2px;">
            <!-- ko if: App.game.party.alreadyCaughtPokemon($data.id) && App.game.party.getPokemon($data.id).heldItem() -->
            <img style="position: relative; top: 0; right: 0; width: 20px; height: 20px; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
                data-bind="attr: { src: `${App.game.party.getPokemon($data.id).heldItem().image}` }"/>
            <!-- /ko -->
        </div>
        <div style="position:absolute; width: 40px; height: 14px; bottom: 3px; left: 50%; transform: translateX(-50%);"
            data-bind="
                with: App.game.party.getPokemon($data.id),
                tooltip: {
                    title: App.game.party.getPokemon($data.id)?.pokerus >= GameConstants.Pokerus.Contagious ? `EVs: ${App.game.party.getPokemon($data.id)?.evs().toLocaleString('en-US')}` : '',
                    placement: 'bottom',
                    trigger: 'hover'
                }">
            <!-- ko if: $data.pokerus >= GameConstants.Pokerus.Resistant -->
            <img style="position:absolute; top: 0; left: 0; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
                src="assets/images/breeding/pokerus/Resistant.png" />
            <!-- /ko -->
            <!-- ko if: $data.pokerus == GameConstants.Pokerus.Contagious -->
            <img style="position:absolute; top: 0; left: 0; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
                src="assets/images/breeding/pokerus/Contagious.png" />
            <img style="position:absolute; top: 0; left: 0; filter: drop-shadow(-1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(1px 1px rgba(34, 34, 34, 0.2)) drop-shadow(1px -1px rgba(34, 34, 34, 0.2)) drop-shadow(-1px 1px rgba(34, 34, 34, 0.2));"
                data-bind="style: { clipPath: `inset(0 0 0 ${$data.evs() * 2}%)` }"
                src="assets/images/breeding/pokerus/Infected.png"/>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</div>
