<div id="logBookDisplay" class="card sortable border-secondary mb-3" data-bind="visible: App.game.logbook.filteredLogs().length > 0">
    <div class="card-header p-0" data-toggle="collapse" href="#logBookDisplayBody">
        <span>Log Book</span>
    </div>
    <button class="btn btn-sm btn-primary" style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px;"
            data-bind="click: function(){ $('#logBookModal').modal('show') }">
        Full
    </button>
    <div id="logBookDisplayBody" class="card-body p-0 show">
        <div style="resize: vertical; overflow: auto; min-height: 60px; max-height: 400px; height: 200px;">
            <table class="table table-sm m-0" style="table-layout: fixed;">
                <colgroup>
                    <col style="width: 58px;">
                    <col>
                    <col style="width: 42px;">
                </colgroup>
                <tbody data-bind="foreach: App.game.logbook.filteredLogs().slice(0, 50)">
                    <tr>
                        <td class="p-0 text-center text-white font-weight-bold align-middle"
                            style="font-size: 0.65rem; white-space: nowrap; overflow: hidden;"
                            data-bind="
                                text: $data.displayLabel,
                                css: 'bg-' + $data.type.display
                            "></td>
                        <td class="p-1 text-left small align-middle" data-bind="text: $data.description"></td>
                        <td class="p-1 text-right text-muted align-middle" style="font-size: 0.65rem; white-space: nowrap;"
                            data-bind="
                                text: new Date($data.date).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }),
                                tooltip: {
                                    title: new Date($data.date).toLocaleString(),
                                    trigger: 'hover',
                                    placement: 'left',
                                    animation: false
                                }
                            "></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
