<div id="oakItemsContainer" class="card sortable border-secondary mb-3" data-bind="visible: App.game.oakItems.canAccess() && !(Settings.getSetting('hideChallengeRelatedModules').observableValue() && App.game.challenges.list.disableOakItems.active())">
    <div class="card-header p-0" data-toggle="collapse" href="#oakItemsBody">
        <span style="text-align:center">Oak Items</span>
    </div>
    <button class='btn btn-sm btn-primary' style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px;" href="#oakItemsModal" data-toggle="modal">
        List
    </button>
    <div id="oakItemsBody" class="card-body show p-0">
      <table class="table table-bordered table-striped m-0">
        <!--
        <thead>
          <tr>
            <td class="clickable table-primary p-0" colspan="2" href="#oakItemsModal" data-toggle="modal">
              Open menu
            </td>
          <tr>
        </thead>
        -->
        <tbody data-bind="foreach: App.game.oakItems.chunkedList(6, false)">
            <tr data-bind="foreach: $data">
                <td class="p-0">
                    <button class="p-0 btn d-block w-100"
                    data-bind="css: {
                        'btn-primary':              !$data.isModuleUpgrade && $data.isActive,
                        'btn-outline-secondary':    !$data.isModuleUpgrade && !$data.isActive,
                        'btn-success':              $data.isModuleUpgrade && $data.isActive,
                        'btn-danger':               $data.isModuleUpgrade && !$data.isActive
                    }">
                    <img class="clickable d-block w-100" src=""
                        data-bind="attr:{ src:'assets/images/oakitems/' + OakItemType[$data.name] + '.png'},
                        css: {
                            'oak-item-locked': !App.game.oakItems.isUnlocked($data.name)
                        },
                        event: {
                            mouseover:  function() { OakItemController.hover($data.name) },
                            click: function() { OakItemController.click($data.name) },
                        }">
                </td>
            </tr>
        </tbody>
        <!-- ko if: App.game.challenges.list.disableOakItems.active() -->
        <tfoot>
          <tr>
            <td class="clickable table-danger text-light" colspan="2" href="#oakItemsModal" data-toggle="modal">
              Oak Items are disabled.
            </td>
          </tr>
        </tfoot>
        <!-- /ko -->
      </table>
    </div>
    <!-- ko if: !App.game.challenges.list.disableOakItems.active() -->
    <!-- <div id="oakItemLoadout">
      <table class="table table-bordered table-striped m-0">
        <tr data-bind="foreach: App.game.oakItemLoadouts.loadouts">
          <td class="p-1 tight">
            <button class='btn btn-block btn-primary' style="height: 100%;"
              data-bind='click: function(){ App.game.oakItemLoadouts.activateLoadout($index()) }, text: $index() + 1, tooltip: { title: $data.name(), trigger: "hover", placement: "bottom" }'>
              1
            </button>
          </td>
        </tr>
      </table>
    </div> -->
    <!-- /ko -->
</div>
