<div class="table-responsive">
    <div style="overflow: 100%;">
        <table class="table table-sm m-0" style="width: 100%;">
            <tbody data-bind="foreach: { data: RouteHelper.getAvailablePokemonList(player.route, player.region, true), as: 'p' }">
                <tr data-bind="with: PokemonHelper.getPokemonByName(p)">
                    <td class="text-center align-middle p-0"
                        style="position: relative; width: 64px;"
                        data-bind="
                            style: { background: PokedexHelper.getBackgroundColors($data.name) },
                            tooltip: {
                                title: $data.name,
                                placement: 'top',
                                trigger:'hover'
                            }">
                        <img style="width: 100%; height: 100%;"
                            data-bind="
                                attr: { src: PokemonHelper.getImage($data.id, undefined, undefined, GameConstants.ShadowStatus.None) },
                                css: {
                                    'pokemon-not-seen': !PokedexHelper.pokemonSeen($data.id)(),
                                    'pokemon-seen-but-not-caught': !App.game.party.alreadyCaughtPokemonByName($data.name) && PokedexHelper.pokemonSeen($data.id)()
                                }"/>
                        <img style="position: absolute; top: 2px; left: 2px; width: 16px; height: 16px;"
                            data-bind="
                                visible: App.game.party.alreadyCaughtPokemonByName($data.name),
                                attr: { src: `assets/images/pokeball/Pokeball${App.game.party.alreadyCaughtPokemon($data.id, true) ? '-shiny' : ''}.svg` }"/>
                        <div style="position:absolute; width: 48px; height: 17px; bottom: 2px; left: 50%; transform: translateX(-50%);"
                             data-bind="
                                with: App.game.party.getPokemon($data.id),
                                tooltip: {
                                    title: App.game.party.getPokemon($data.id)?.pokerus >= GameConstants.Pokerus.Contagious ? `EVs: ${App.game.party.getPokemon($data.id)?.evs().toLocaleString('en-US')}` : '',
                                    placement: 'bottom',
                                    trigger: 'hover'
                                }">
                            <!-- ko if: $data.pokerus >= GameConstants.Pokerus.Resistant -->
                            <img style="position:absolute; top: 0; left: 0; width: 48px; height: 17px;"
                                 src="assets/images/breeding/pokerus/Resistant.png" />
                            <!-- /ko -->
                            <!-- ko if: $data.pokerus == GameConstants.Pokerus.Contagious -->
                            <img style="position:absolute; top: 0; left: 0; width: 48px; height: 17px;"
                                 src="assets/images/breeding/pokerus/Contagious.png" />
                            <img style="position:absolute; top: 0; left: 0; width: 48px; height: 17px;"
                                 data-bind="style: { clipPath: `inset(0 0 0 ${$data.evs() * 2}%)` }"
                                 src="assets/images/breeding/pokerus/Infected.png"/>
                            <!-- /ko -->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
